.menu-conta{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fcb94e;
    width: 100%;
    border-radius: 1rem;
    top: 3rem;
    background-color: rgba(0, 0, 0, 0.3);
}
.menu-conta li a{
    line-height: 4rem;
    font-size: 14pt;
}

.metodopagamento input{
    display: none;
}
.metodopagamento ul{
    list-style: none;
}
.metodopagamento li{
    font-size: 15pt;
    background-color: rgba(0, 0, 0, 0.096);
}

.metodopagamento .active{
    background: #fcb94e !important;
    border: 1px solid #ffffff;
}
.itempedido{
    position: relative;
    height: 10vh;
    cursor: pointer;
}
.itempedido input[type='checkbox']{
    display: none;
}
.pedido .active{
    background-color: var(--warning);
}
.pedidoselect li{
    list-style: none;
    line-height: 10vh;
}
.precoDelivery, .qtds{
    position: absolute;
    right: 0;
    width: 30%;
    line-height: 10vh;
    top: 0vh;
}
.precoDelivery, .qtds span{
    font-size: 15pt;
    line-height: 5vh;
}
.inqtds{
    line-height: 5vh;
    margin-bottom: 2.5vh;
}
.itempedido input[type='number']{
    position: absolute;
    z-index: 9999;
    bottom: 0;
    width: 50%;
}
.stars{
	cursor: pointer;
	transition: .5s;
}

.bg-primarycolor{
    background-color: #cda45e;
}

.border-primarycolor{
    border-color: #cda45e !important;
}

.item-delivery{
    cursor: pointer;
}

#delivery button{
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
.bg-darkdark{
    background-color: #0c0b09;
}
#deliverymodal .modal-content{
    border: 1px solid #cda45e;
}
.btn-primarycolor{
    background-color: #cda45e;
    color: #fff;
}
.btn-primarycolor:hover{
    background-color: #fcb94e;
    color: #fff;
}
.text-primarycolor{
    color: #fcb94e;
}
.btn-add-end{
    color: #cda45e;
    border-bottom: 1px solid #cda45e;
}
.btn-add-end:hover{
    color: #cda45e;
    border: 1px solid #cda45e;
    transition: 1s linear;
}


#deliverymodal input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}

#deliverymodal input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
#addendereco_modal input{
    color: #fff;
}
#addendereco_modal input:focus{
    background-color: transparent !important;
    box-shadow: none;
}