.menu-conta{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fcb94e;
    width: 100%;
    border-radius: 1rem;
    top: 3rem;
    background-color: rgba(0, 0, 0, 0.3);
} 
@media (max-width: 1000px) {
    .menu-conta{
        position: relative;
    }
}
.menu-conta li a{
    line-height: 4rem;
    font-size: 14pt;
}

.stars{
	cursor: pointer;
	transition: .5s;
}

.bg-primarycolor{
    background-color: #cda45e;
}

.border-primarycolor{
    border-color: #cda45e !important;
}

.item-delivery{
    cursor: pointer;
}

#delivery button{
    background: #cda45e;
    border: 0;
    padding: 10px 35px;
    color: #fff;
    transition: 0.4s;
    border-radius: 50px;
}
.bg-darkdark{
    background-color: #0c0b09;
}
#deliverymodal .modal-content{
    border: 1px solid #cda45e;
}
.btn-primarycolor{
    background-color: #cda45e;
    color: #fff;
    transition: .5s;
}
.btn-primarycolor:hover{
    background-color: #fcb94e;
    color: #fff;
}
.btn-outline-primarycolor{
    background-color: transparent;
    color: #fff;
    border: 1px solid #cda45e;
    transition: .5s;
}
.btn-outline-primarycolor:hover{
    background-color: #fcb94e;
    color: #fff;
    border: 1px solid #fcb94e;
}
.text-primarycolor{
    color: #fcb94e;
}
.btn-add-end{
    color: #cda45e;
    border-bottom: 1px solid #cda45e;
}
.btn-add-end:hover{
    color: #cda45e;
    border: 1px solid #cda45e;
    transition: 1s linear;
}
#deliverymodal input[type='radio']:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #d1d3d1;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
#deliverymodal input[type='radio']:checked:after {
    width: 15px;
    height: 15px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #ffa500;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 2px solid white;
}
#deliverymodal label.container{
    cursor: pointer;
}
.endereco-item:hover{
    border: 2px solid #cda45e;
    box-shadow: 0px 0px 10px 0px #CDA45E;
}
#addendereco_modal input{
    color: #fff;
}
input, textarea{
    background-color: #0c0b09 !important;
    box-shadow: none !important;
    border: 1px solid #0c0b09 !important;
    box-sizing: border-box;
}
input:focus, input:hover, textarea:focus, textarea:hover{
    background-color: #0c0b09 !important;
    box-shadow: none !important;
    border: 1px solid #cda45e !important;
}
input[type="date"]::-webkit-calendar-picker-indicator {
    cursor: pointer;
    filter: invert(0.8) brightness(95%) sepia(100%) saturate(10000%) hue-rotate(13deg);
}
.btn-formapagamento{
    cursor: pointer;
}
.loading{
    width: 100px;
    height: 50px;
    display: flex;
    align-items: center;
}
.loading span {
    flex: 1;
    margin: 5px;
    height: 25px;
    background-color: #cda45e;
    animation: girar .5s linear infinite;
    animation-direction: alternate;
    border-radius: 20px;
}
.loading span:nth-of-type(1){
    animation-delay: .1s;
}
.loading span:nth-of-type(2){
    animation-delay: .2s;
}
.loading span:nth-of-type(3){
    animation-delay: .3s;
}
.loading span:nth-of-type(4){
    animation-delay: .4s;
}
.loading span:nth-of-type(5){
    animation-delay: .5s;
}

@keyframes girar {
    100%{
        padding: 50% 0;
        background-color: #ffa500;
    }
}



.pedido-sacola{
    position: fixed;
    top: 0;
    right: -46.5rem;
    width: 50rem;
    height: 100vh;
    z-index: 99999;
    display: flex;
    transition: 1s;
}
.abrir-menu{
    right: 0 !important;
    transition: 1s;
}
.div-texto{
    position: relative;
    height: 100vh;
    width: 4rem;
}
.pedido-sacola .texto{
    border: none;
    box-shadow: none;
    padding: 2rem 0rem 1.5rem;
    font-weight:bolder;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-transform: uppercase;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}
.pedido-sacola .texto p{
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-align: center;
    vertical-align: middle;
}
.pedidos-sacola{
    background-color: #0c0b09e5;
    height: 100vh;
    width: 100%;
    text-align: center;
    padding: 3rem;
    border-left: 4px solid #cda45e;
}
.pedidos-sacola h3{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
    font-size: 30pt;
}