<div class="modal fade" id="deliverymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content bg-darkdark">
        <div class="modal-header border-bottom-0">
          <h5 class="modal-title text-uppercase" style="font-family:Arial, Helvetica, sans-serif" id="exampleModalLongTitle">Escolha de endereço</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <div class="col-lg-6 p-2">
            <label class="container border border-primarycolor rounded" for="end1">
                <div class="row mt-2">
                    <div class="col-6">
                        <input type="radio" name="endereco" id="end1" class="text-dark">
                    </div>
                    <div class="col-6 text-right">
                        <a href="" class="text-primarycolor">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <p class="m-1">Rua:</p>
                        <p class="m-1">Bairro:</p>
                        <p class="m-1">Número:</p>
                        <p class="m-1">Referência:</p>
                    </div>
                </div>
            </label>
          </div>
          <div class="col-lg-6 p-2">
            <label class="container border border-primarycolor rounded" for="end2">
                <div class="row mt-2">
                    <div class="col-6">
                        <input type="radio" name="endereco" id="end2">
                    </div>
                    <div class="col-6 text-right">
                        <a href="" class="text-primarycolor">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <p>Rua:</p>
                        <p>Bairro:</p>
                        <p>Número:</p>
                        <p>Referência:</p>
                    </div>
                </div>
            </label>
          </div>
        </div>
        <div class="modal-footer border-top-0">
          <button type="button" class="btn btn-add-end" data-toggle="modal" data-target="#addendereco_modal">Adicionar novo endereço</button>
          <button type="submit" class="btn btn-primarycolor">Continuar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade" id="addendereco_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content bg-darkdark border-primarycolor">
      <div class="modal-header border-bottom-0">
        <h5 class="modal-title text-uppercase" style="font-family:Arial, Helvetica, sans-serif" id="exampleModalLongTitle">Escolha de endereço</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">
        <div class="col-12 mb-3">
          <label for="txtrua">Rua: </label>
          <input type="text" placeholder="Digite sua Rua: " id="txtrua" class="w-100 m-auto form-control rounded bg-darkdark border border-primarycolor">
        </div>
        <div class="col-12 mb-3">
          <label for="txtbairro">Bairro: </label>
          <input type="text" placeholder="Digite seu bairro: " id="txtbairro" class="w-100 m-auto form-control rounded bg-darkdark border border-primarycolor">
        </div>
        <div class="col-12 mb-3">
          <label for="txtnumero">Número: </label>
          <input type="text" placeholder="Digite seu Número: " id="txtnumero" class="w-100 m-auto form-control rounded bg-darkdark border border-primarycolor">
        </div>
        <div class="col-12 mb-3">
          <label for="txtreferencia">Referência: </label>
          <input type="text" placeholder="Digite uma referência: " id="txtreferencia" class="w-100 m-auto form-control rounded bg-darkdark border border-primarycolor">
        </div>
      </div>
      <div class="modal-footer border-top-0">
        <button type="button" class="btn btn-add-end" data-dismiss="modal">Voltar</button>
        <button type="submit" class="btn btn-primarycolor">Continuar</button>
      </div>
    </div>
  </div>
</div>