<div class="modal fade" id="deliverymodal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content bg-darkdark">
        <div class="modal-header">
          <h5 class="modal-title text-uppercase" style="font-family:Arial, Helvetica, sans-serif" id="exampleModalLongTitle">Escolha de endereço</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body row">
          <div class="col-lg-6 p-2">
            <label class="container border border-primarycolor rounded" for="end1">
                <div class="row mt-2">
                    <div class="col-6 form-check">
                        <input type="radio" name="endereco" id="end1" class="form-check-input text-dark">
                    </div>
                    <div class="col-6 text-right">
                        <a href="" class="text-primarycolor">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <p>Rua:</p>
                        <p>Bairro:</p>
                        <p>Número:</p>
                        <p>Referência:</p>
                    </div>
                </div>
            </label>
          </div>
          <div class="col-lg-6 p-2">
            <label class="container border border-primarycolor rounded" for="end2">
                <div class="row mt-2">
                    <div class="col-6">
                        <input type="radio" name="endereco" id="end2">
                    </div>
                    <div class="col-6 text-right">
                        <a href="" class="text-primarycolor">
                            <i class="fas fa-trash"></i>
                        </a>
                    </div>
                    <div class="col-12">
                        <p>Rua:</p>
                        <p>Bairro:</p>
                        <p>Número:</p>
                        <p>Referência:</p>
                    </div>
                </div>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-add-end">Adicionar novo endereço</button>
          <button type="submit" class="btn btn-primarycolor">Continuar</button>
        </div>
      </div>
    </div>
  </div>